.container{
    width: 70%;
    padding: 50px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.tittle{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 55px;
    flex-direction: column;
    row-gap: 25px;
}
.tittle>span:nth-child(1){
    font-size: 18px;
    font-weight: 700;
    color: #3A3D42;
}
.tittle>span:nth-child(2){
    font-size: 16px;
    font-weight: 400;
    color: #7A7886;
    width: 50%;
}
.profileInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    width: 100%;
    margin-bottom: 50px;
}
.edit{
    position: relative;
}
.edit > input{
    position: absolute;
    height: 20px;
    width: 20px;
    opacity: 0;
    cursor: pointer;
}
.saveImage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #6379F4;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
.saveImage:hover{
    background-color:#94a0e4;
}
.edit > span{
    font-size: 16px;
    font-weight: 400;
    color:#7A7886;
    margin-left: 10px;
}
.profileInfo>span:nth-child(3){
    font-size: 24px;
    font-weight: 700;
    color: #4D4B57;
    text-align: center;
}
.profileInfo>span:nth-child(4){
    font-size: 16px;
    font-weight: 400;
    color: #7A7886;
    text-align: center;
}

.profileNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E5E8ED;
    padding: 18px;
    color: #4D4B57;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    width: 60%;
    height: 64px;
    margin-bottom: 20px;
    cursor: pointer;
}
.profileNav:hover{
    background-color: #c2ccdd;
}

.detailUser{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
}

.detailUser>span:nth-child(1){
    font-size: 16px;
    font-weight: 400;
    color: #7A7886;
}
.detailUser>span:nth-child(2){
    color:#514F5B;
    font-weight: 700;
    font-size: 22px;
}
.detailUser>span:nth-child(3){
    position: absolute;
    right: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #6379F4;
}
.inputPassword{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0;
    width: 55%;
    border-bottom: 1px solid rgba(169, 169, 169, 0.6);
    margin-bottom: 63px;
}
.inputPassword>input{
    border: none;
    width: 80%;
}
.inputPassword>input:focus{
    outline: none;
}
.btnChange{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADADA;
    color: #88888F;
    padding: 16px 140px;
    border-radius: 12px;
}
.btnChangeAct{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6379F4;
    color: #FFFFFF;
    padding: 16px 140px;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
}

.inputpin{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 90px;
    width: 80%;
}
.singleInput{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    width: 53px;
    height: 65px;
}
.inputpin > input{
    height: 65px;
    width: 53px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border: 1px solid rgba(169, 169, 169, 0.6);
}
.inputpin > input:focus{
    outline: 1px solid #6379F4 ;
}
.singleInput > input{
    width: 20px;
    height: 20px;
    border: none;
    font-size: 1.3rem;
}
.singleInput>input:focus{
    outline: none;
}
.editUser{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #6379F4;
}
.editUser>span{
    cursor: pointer;
}
.detailUser>input{
    border: none;
    color:#514F5B;
    font-weight: 700;
    font-size: 22px;
}
.detailUser>input:focus{
    outline: none;
}
.saveChange{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6379F4;
    color: #FFFFFF;
    padding: 10px;
    margin-right: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.inputPhone{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding: 20px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.6);
}
.inputPhone > input{
    border: none;
    width: 75%;
    font-size: 16px;
    font-weight: 700;
    color: #3A3D42;
}
.inputPhone input::-webkit-outer-spin-button,
.inputPhone input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}
.inputPhone>input:focus{
    outline: none;
}
.inputPhone > span{
    font-size: 16px;
    font-weight: 700;
    color: #3A3D42;
}
.editPhone{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 50%;
    background-color: #DADADA;
    color: #88888F;
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    margin-top: 70px;
}
.editPhoneAct{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 50%;
    background-color:#6379F4;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 12px;
    margin-top: 70px;
    cursor: pointer;
}