.container{
    width: 70%;
    margin-top: 40px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.tag{
    color:#7A7886;
    font-size: 18px;
    font-weight: 400;
    width: 44%;
}
.tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 55px;
}
.tittle>span{
    font-size: 18px;
    font-weight: 700;
    color: #3A3D42;
}

.userTrans{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
}
.userInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
}
.user{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-left: 20px;
}

.user>span:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    color: #3A3D42;
}
.user>span:nth-child(2){
    color: #7A7886;
    font-weight: 400;
    font-size: 14px;
}
.inputAmmount{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 65px;
    row-gap: 39px;
}
.inputAmmount>input:nth-child(1){
    height: 56px;
    width: auto;
    border: none;
    font-size: 2.5rem;
    text-align: center;
}
.inputAmmount input::-webkit-outer-spin-button,
.inputAmmount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputAmmount>input:nth-child(1):focus{
    outline: none;
}
.inputAmmount>span{
    font-size: 16px;
    font-weight: 700;
    color: #3A3D42;
}
.notes{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(169, 169, 169, 0.6);
    width: 60%;
    padding: 20px;
}
.notes>input{
    border: none;
    margin-left: 20px;
}
.notes>input:focus{
    outline: none;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.details>span{
    font-size: 18px;
    font-weight: 700;
    color: #3A3D42;
}
.detailInfo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}
.detailInfo>span:nth-child(1){
    color: #7A7886;
    font-weight: 400;
    font-size: 16px;
}
.detailInfo>span:nth-child(2){
    font-size: 22px;
    font-weight: 700;
    color: #3A3D42;
}

.continue{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 45px;
    background-color: #6379F4;
    color: #FFFFFF;
    margin-top: 20px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    width: auto;
    height: 60px;

}
.continue:hover{
    background-color: #95a2ee;
}
.btnContinue{
    display: flex;
    justify-content: flex-end;
}
.imgStatus{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px;
    flex-direction: column;
    row-gap: 30px;
}
.imgStatus>span{
    color: #4D4B57;
    font-size: 22px;
    font-weight: 700;
}
.btnDownload{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    padding: 16px 20px;
    margin-right: 20px;
    height: 60px;
    margin-top: 20px;
    width: 22%;
    cursor: pointer;
}

@media screen and (max-width : 768px){
    .container{
        margin: 30px;
        margin-left: 30px;
        width: 90%;
    }
}