.container{
    width: 70%;
    margin-top: 40px;
    padding: 30px;
    margin-left: 30px;
    margin-right: 150px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}
.tittle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 55px;
}
.tittle>span{
    font-size: 18px;
    font-weight: 700;
    color: #3A3D42;
}
.search{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 16px;
    height: 60px;
    background-color: rgba(58, 61, 66, 0.1);
    border-radius: 12px;
    margin-bottom: 50px;
}
.search > input{
    height: 100%;
    border: none;
    background:none;
    margin-left: 22px;
    font-size: 1.2rem;
}
.search>input:focus{
    outline: none;
}
.userTrans{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 20px;
}
.userInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22%;
}
.user{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-left: 20px;
    width: 20%;
}

.user>span:nth-child(1){
    font-size: 16px;
    font-weight: 700;
    color: #3A3D42;
}
.user>span:nth-child(2){
    color: #7A7886;
    font-weight: 400;
    font-size: 14px;
}

@media screen and (max-width : 768px){
    .container{
        margin: 30px;
        margin-left: 30px;
        width: 90%;
    }
}