.authContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.signUpTittle{
    display: flex;
}

@media screen and (max-width:768px){
    .authContainer{
        flex-direction: column;
    }
}

@media screen and (max-width:425px){
    .authContainer{
        width: 100vh;
    }
}