.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    z-index: 120;
}
.modal.show{
    opacity: 1;
    pointer-events: visible;
}
.modalContent{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 40px;
    background-color: #FFFFFF;
    padding : 16px 29px;
    border-radius: 20px;
    width: 503px;
    transform: translateY(-200);
    transition: all 0.3s ease-in-out;
    padding: 35px;
    z-index: 1009;
}
.modal.show .modalContent{
    transform: translateY(0);
}
.modalTitle{
    color: #3A3D42;
    font-size: 18px;
    font-weight: 700;
}
.modalButton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 47px;
    background-color:#3A3D42;
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
}
.modalButtonAct{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 47px;
    background-color: #6379F4;
    color: #ffffff;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
