.modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}
.modal.show{
    opacity: 1;
    pointer-events: visible;
}
.modalContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding : 16px 29px;
    border-radius: 20px;
    width: 500px;
    height: auto;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out;
}
.modal.show .modalContent{
    transform: translateY(0);
}
.modalHeader, .modalFooter{
    padding: 10px;
    width: 100%;
}
.modalTitle{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.modalBody{
    padding: 10px;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
.modalButton{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #362115;
    color:white;
    padding: 20px 30px;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
}

@media screen and(max-width : 768px) {
    .modal{
        width: 40%;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .modalContent{
        width: auto;
        align-items: flex-start;
        justify-content: flex-start;
    }
}